html,
body {
  margin: 0;
  height: 100%;
}

#content {
  height: 100%;
  width: 100%;
}

#form-div {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

form {
  font-weight: bold;
  font-size: 18px;
}

form #todo-title {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

form #todo-title input {
  height: 20px;
}

form #todo-description {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

form #todo-due-date {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

form #todo-due-date input {
  height: 20px;
}

form #todo-priority {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

form #todo-notes {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

form #todo-checklist {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
