html,
body {
  margin: 0;
  height: 100%;
}

#content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 2fr 1.5fr;
  grid-auto-flow: row;
  background: rgb(249, 197, 3);
  background: linear-gradient(
    21deg,
    rgba(249, 197, 3, 1) 0%,
    rgba(0, 4, 4, 1) 30%,
    rgba(0, 1, 1, 1) 70%,
    rgba(0, 255, 192, 1) 100%
  );
}

#form-div {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border: 3px solid black;
  border-radius: 15px;
  margin: 10px 5px 10px 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.767);
}

#projects-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border: 3px solid black;
  border-radius: 15px;
  margin: 10px 5px 10px 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.767);
}

#projects-head-div {
  display: flex;
  justify-content: space-between;
  margin: -5px;
}

#projects-title-div {
  width: 100%;
}

#projects-title-div p {
  font-size: 28px;
  margin: 0;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

#projects-button-div {
  margin-left: -15px;
}

#projects-add-button {
  font-weight: 700;
  height: 25px;
  width: 25px;
  font-size: 16px;
}

#projects-div {
  border: 1px solid black;
  margin: 2px;
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow-y: auto;
}

#projects-div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#projects-div::-webkit-scrollbar-track {
  background: rgba(255, 255, 255);
  border-radius: 20px;
  margin: 5px;
}

#projects-div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 255, 0.664);
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

form {
  font-weight: bold;
  font-size: 18px;
}

form #todo-title {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

form #todo-title input {
  height: 20px;
}

form #todo-description {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

form #todo-due-date {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

form #todo-due-date input {
  height: 20px;
}

form #todo-priority {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

form #priority-level {
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
  font-size: 14px;
}
form #todo-priority label {
  margin-bottom: -10px;
}

form #todo-notes {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

form #todo-checklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  text-align: center;
}

#todo-div {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 3px solid black;
  border-radius: 15px;
  margin: 10px 10px 10px 5px;
  padding: 10px;
  gap: 20px;
  background: rgba(255, 255, 255, 0.767);
  overflow-y: auto;
}

#todo-div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

#todo-div::-webkit-scrollbar-track {
  background: rgba(255, 255, 255);
  border-radius: 20px;
  margin: 5px;
}

#todo-div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 255, 0.664);
  border-radius: 20px;
  border: 2px solid rgb(255, 255, 255);
}

.todo-object {
  border: 3px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 200px;
  height: fit-content;
  padding: 10px;
  background-color: white;
}

.todo-object h3 {
  margin-bottom: -5px;
  margin-top: -5px;
  text-decoration: underline;
  font-size: 24px;
}

.todo-object p {
  margin-bottom: -5px;
}

.todo-object button {
  border-radius: 5px;
  width: fit-content;
  align-self: center;
  margin-top: 15px;
}

.todo-object #description {
  font-style: italic;
}
